<div class="row empty"></div>

<h1>Edit Task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.task_path(@conn, :update, @task)) %>

<div class="row empty"></div>

<span><%= link "Back", to: Routes.task_path(@conn, :index), class: "sec" %></span>
<span><%= link "Edit time spent", to: Routes.task_path(@conn, :show, @task) %></span>
